*{
    font-family: 'Montserrat', sans-serif;
}

table{
    width: 100%;
}

table, tr, th, td{
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

#nome{
    width: 500px;
}

tbody ,tr, th, td{
    padding: 10px;
}

body{
    background-color: #fff0ff;
    color: #101010;
}
.primary-bg-color{
    background-color: #b57edc;
}

.secondary-bg-color{
    background-color: #ffffff;
}

.light-bg-color{
    background-color: #FFF;
}

.dark-bg-color{
    background-color: #101010;
}
/* COR NOTICIAS E GRUPOS*/
.primary-color{
    color: #050505;
}

.secondary-color{
    color: #efd3ff;
}

.light-color{
    color: #FCF5EB
}

/* LOGO DO PERFIL */

img, svg{
    width: 80px;
}

#logo-imagem{
    padding: 5px;
    background-color: white;
    border-radius: 50px;
}


/* NAVBAR */

#navbar2{
    background-color: white;
}

.nav-link:hover{
    color: white;
    border-radius: 30px;
    background-color: #b57edc;
}


#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
}

#navbar .navbar-nav li{
    margin-left: 1em;
}

#navbar a, #navbar button{
    border-radius: 30px;
    color: #FFF;
}

#navbar li{
    position: relative;
}

#navbar i{
    font-size: 20px;
}

#navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

#navbar-items{
    justify-content: space-between;
}

@media (min-width:768px) {
    #navbar-items{
        min-width: 80%;
        display: flex;
    }
}

#search-form, #news-form{
    width: 100%;
    margin: 2em 0;
}

@media (min-width:768px) {
    #search-form, #news-form{
        width: 50%;
        margin: 0;
    }
}
/* CABEÇALHO*/
#search-form, #news-form{
    border: 2px solid #FFF;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input, #news-form input{
    background-color: transparent;
    border: none;
    color: #FFF;
}

#search-form input:focus,
#news-form input:focus{
    box-shadow: none;
}
 /*TEXTO DA BARRA DE PESQUISA*/
#search-form input::placeholder,
#news-form input::placeholder{
    color: #FFF;
} 

/*Menu e Perfil*/

#navbar.dp-menu ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--cor-fundo);
    
}

#navbar .dp-menu ul li {
    display: inline;
    position: relative;
}
/*COR DO ICONE "MENU E PERFIL"*/
#navbar .dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    color: #dfb6fa;
}

#navbar .dp-menu ul li:hover ul {
    display: block;
    font-size: 15px;
    font-weight: lighter;
    color: #000000;
}

/*Inicio do conteúdo*/

#conteudo1{
    overflow-x: auto;
}

.container{
    display: grid;
    grid-row: inherit;
}


.text {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.text p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.imagem {
    flex: 1;
    background: url('img/mulheres-na-tecnologia.jpg') no-repeat center center;
    background-size: cover;
}

/* Noticias */


svg{
    width: 150px;
    height: 250px;
    margin: 0 auto;
}

#conteudo{
    padding: 4em 0;

    margin: 0 auto;
}

#conteudo .row{
    margin: 0;
}

#conteudo .col-md-4{
    padding: 0;
}

#title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
}

@media(min-width: 768px){
    .title{
        text-align: center;
    }
}

.card{
    text-align: center;
    border-radius: 0;
}

.card img{
    width: 140px;
    margin: 2em auto ;
}

.card .card-text{
    margin: 2em 0;
    font-weight: bold;
}

.bnt{
    background: transparent;
    border-color: #c79be4;
}

.bnt:hover{
    background-color: #4b1c71;
    border-color: #cf42fa;
}

.localbotaomais {
    width: 90%;
    height: 60px;
    padding: 10px;
    padding-left: 30px;
    margin-top: 40px;
    
}

.btn-outline-light:hover{
    background-color: #4b1c71;
}

a{
    text-decoration: none;
}

/*fic em numeros*/

.titulosecao {
    font-size: 45px;
    font-weight: bold;
    width: auto;
    padding-left: 50px;
}

.descricao {
    width: 50%;
    font-size: 20px;
    padding-left: 50px;
    line-height: 30px;
}

.card {
    flex: 1;
    background-color: white;
    margin: 0 10px; /* Espaçamento entre os quadros */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 18px;
    color: #666;
    margin: 0;
}

.icon {
    font-size: 50px;
    color: #888;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .card {
        margin: 10px 0;
    }
}
/*rodapé*/

#footer{
    width: auto;
    text-align: center;
    padding-top: 30px;
    padding-left: 100px;
    height: 80px;
    background-color: rgb(181, 126, 220);
    color: #FFF;
}

